.login-signup-container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231,231,231);
    position: fixed;
    top: 0%;
    left: 0;
}
.login-signup-box{
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
}
.login-signup-toggle{
    display: flex;
    height: 2rem;
}
.login-signup-toggle p{
    color: rgba(0,0,0,0.61);
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 0;
}
.login-signup-toggle p:hover{
    color: tomato;
}
.btn{
    background-color: tomato;
    width: 50%;
    height: 2px;
    border: none;
    padding: 0;
    transition: all 0.5s;
}
.login-form,
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 1rem;
    height: 70%;
    transition: all 0.5s;

}
.signup-form{
    transform: translateX(-100vmax) translateY(-100%);
}
.login-form > div,
.signup-form > div{
    display: flex;
    width: 100%;
    align-items: center;
}
.login-form > div > input,
.signup-form > div > input{
    padding: 0.7rem 0.5rem;
    padding-left:2.5rem ;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    outline: none;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 20px;
}
.login-form > div > svg,
.signup-form > div > svg{
    position: absolute;
    transform: translateX(0.5rem) translateY(-10px);
    font-size: 1.5rem;
    color: rgba(0,0,0,0.623);
}
.login-form a{
    color: rgba(0,0,0,0.651);
    align-self: flex-end;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 0.8rem;
}
.login-form a:hover{
    color: black;
}
#registerImage img{
border-radius: 100%;
width: 20%;
transform: translateY(-10px);
margin-right: 5px;
}
#registerImage input{
    display: flex;
    padding: 0;
    }
    #registerImage input::file-selector-button{
        cursor: pointer;
        width: 100%;
        z-index: 3;
        height: 5vh;
        border: none;
        margin: 0%;
        font-weight: 300;
        font-size: 1rem;
        transition: all 0.5s;
        padding: 0 0.5rem;
        color:rgba(0,0,0,0.623);
        background-color: rgb(255,255,255);
        }
        #registerImage input::file-selector-button:hover{
            background-color: rgb(235,235,235);
        }
.login-btn,
.signup-btn{
border: none;
background-color: tomato;
color: white;
width: 100%;
padding: 0.5rem;
font-weight: 300;
font-size: 1rem;
cursor: pointer;
border-radius: 4px;
transition: all 0.5s;
outline: none;
box-shadow: 0 2px 5px rgba(0,0,0,0.216);
}
.login-btn:hover{
    background-color: rgb(179,66,46);
}
.signup-btn:hover{
    background-color: rgb(179,66,46);
}
.shiftToLeft{
    transform: translateX(-100%);
}
.shiftToNeutral{
    transform: translateX(0%);
}
.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight{
    transform: translateX(100%)
}
@media(max-width:1024px){
    .login-signup-box{
        width: 40%;
        height: 70%;
    } 
}
@media(max-width:600px){
    .login-signup-container{
        background-color: white;
    }
    .login-signup-box{
        width: 75vw;
        height: 95vh;
        box-shadow: none;
        margin-top: 160px;
    }
    .login-signup-toggle{
        height: 3rem;
    }
    .login-signup-toggle p{
        font-size: 0.9rem;
    }
.login-form,
.signup-form{
    padding: 3rem 1rem;
}
.login-form > div > input,
.signup-form > div > input{
    padding: 1rem 0.5rem;
    padding-left: 2.5rem;
}
.login-form > div > svg,
.signup-form > div > svg{
    font-size: 1.7rem;
}
.login-form a{
    font-size: 1rem;
}
}