.searchbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
    background-color:rgb(231, 231, 231)
}
.searchbox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font-size:1rem ;
    font-weight: 300;
    box-sizing: border-box;
    height: 8%;
  }
  
  .searchbox > input[type="submit"] {
    height: 8%;
    border-radius: 0%;
    background-color: tomato;
    border: none;
    padding: 1vmax;
    width: 10%;
    font-size:1rem ;
    font-weight: 400;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  
  .searchbox > input[type="submit"]:hover {
    background-color: #f0bfa8;
    color: black;
  }